PORT=3000
GEMINI_API_KEY=AIzaSyDyQcKWlfcxev2R4n5r3HonmB_C7YIOESY
#
Clave de API 
AIzaSyDyQcKWlfcxev2R4n5r3HonmB_C7YIOESY
Nombre
Gemini API Key
Nombre del proyecto
projects/712761048695
Número del proyecto
712761048695